{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% load static %}
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<style>
  body {
    background: transparent;
  }
</style>
<!-- Page -->
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content">
    <div class="page-brand-info">
      <div class="brand">
        <img class="brand-img" src="{% static 'unal/assets/images/logo@2x.png' %}" alt="...">
        <h2 class="brand-text font-size-40">SIGEYPM</h2>
      </div>
      <p class="font-size-20">Sistema de gestión, control estudiantil y planes de mejoramiento</p>
    </div>

    <div class="page-login-main animation-slide-right animation-duration-1">
      <div class="brand hidden-md-up">
        <img class="brand-img" src="{% static 'unal/assets/images/logo-colored@2x.png' %}" alt="...">
        <h3 class="brand-text font-size-40">SIGEYPM</h3>
      </div>
      <h3 class="font-size-24">Autenticarse</h3>
      <p>Ingrese sus credenciales para acceder</p>

      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          <label class="sr-only" for="id_username">{{ form.username.label_tag }}</label>
          <input type="text" class="form-control" id="id_username" name="username" placeholder="" autofocus=""
            required="">
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          <label class="sr-only" for="inputPassword">{{ form.password.label_tag }}</label>
          <input type="password" class="form-control" id="id_password" name="password" placeholder="" required="">
        </div>
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
          </div>
          <a class="float-right" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
      </form>

      <p>¿No tienes cuenta? <a href="mailto:prueba@test.net">Solicitar</a></p>

      <footer class="page-copyright">
        <p>© 2019. Todos los derechos reservados.</p>
        <p>Desarrollado en el programa curricular de <a
            href="https://www.ingenieria.bogota.unal.edu.co/formacion/pregrado/ingenieria-agricola.html">ingeniería
            Agrícola</a></p>
      </footer>
    </div>

  </div>
</div>
<!-- End Page -->


<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'unal/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'unal/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'unal/global/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'unal/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

<script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'unal/global/js/config/colors.js' %}"></script>
<script src="{% static 'unal/assets/js/config/tour.js' %}"></script>

<!--jj-->
<script>Config.set('assets', "{% static 'unal/assets' %}");</script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/switchery.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/jquery-placeholder.js' %}"></script>

<script>
  (function (document, window, $) {
    'use strict';

    var Site = window.Site;
    $(document).ready(function () {
      Site.run();
    });
  })(document, window, jQuery);
</script>

{% endblock %}