{% extends 'base_home.html'%}
{% block title %} {{ subprogramtask.name }} {% endblock %}

{% load static %}

{% block extra_head %} 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/site.min.css' %}">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'unal/global/vendor/animsition/animsition.css' %}">

<!-- Fonts -->
<link rel="stylesheet" href="{% static 'unal/global/fonts/web-icons/web-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

<!-- Thesis control -->
<link rel="stylesheet" href="{% static 'thesis_control/assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'thesis_control/assets/css/custom.css' %}">

<!-- Scripts -->
<script src="{% static 'unal/global/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
  Breakpoints();
</script>
{% endblock %}

{% block class_doby %}class="animsition app-contacts page-aside-left"{% endblock %}

{% block content %}

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

  {% include "header.html" %}

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    {% include "navbar.html" %}
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
{% include "menu.html" %}

<div class="page bg-white">
    <div class="page-main">

        <!--Header-->
        <div class="page-header">
            <h1 class="page-title">Tarea: {{ subprogramtask.name }}</h1>
            <hr>
            <div class="page-header-actions"></div>
        </div>

        <!--Body-->
        <div class="page-content">
            <div class="row col-12">
                <div class="col-8">
                    <!--Description-->
                    <div class="form-group">
                        <h4 for="id_name" class="example-title">Comentario:</h4>
                        <p>{{ subprogramtask.commentary }}</p>
                    </div>
                </div>
                <!--subprograma info-->
                <div class="col-4 panel-hover">
                    <div class="panel">
                        <div class="panel-heading" id="panel-heading">
                            <h4 class="panel-title">Información del subprograma</h4>
                        </div>
                        <div class="panel-body" id="panel-body" onclick="location.href='{% url "subprogram_detail" pk=subprogramtask.sub_program.pk %}'">
                            <br>
                            <h5>Nombre del programa</h5> {{ subprogramtask.sub_program.name }}
                            <h5>Descripción del programa</h5>{{ subprogramtask.sub_program.description }}
                            <h5>Fecha de inicio</h5>{{ subprogramtask.sub_program.start_date }}
                            <h5>Fecha de finalización</h5>{{ subprogramtask.sub_program.end_date }}
                        </div>
                    </div>
                </div>
            </div>
            <!--Lista de Tareas-->
            <h3>Lista de avances</h3>
            <hr>
            <div class="row">
                {% include 'programs/advance/advance_by_task.html' %}
            </div>
            <div class="text-center">
              <button class="btn btn-success" onclick="location.href='{% url "task_advance_add" task=subprogramtask.pk %}'">Agregar avance</button>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

 <script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>

<script src="{% static 'unal/assets/js/BaseApp.js' %}"></script>
<script src="{% static 'unal/assets/js/App/Contacts.js' %}"></script>

<script src="{% static 'unal/assets/examples/js/apps/contacts.js' %}"></script>

<!--Thesis control-->
<script src="{% static 'thesis_control/assets/js/task_detail.js' %}"></script>
{% endblock content %}