{% extends 'base_home.html' %}

{% block title %}Tesis detalle{% endblock %}

{% load static %}

{% block extra_head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">

<link rel="apple-touch-icon" href="{% static 'unal/assets/images/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static 'unal/assets/images/favicon.ico' %}">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/site.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/styles.css' %}">
<!--new in thesis list-->


<!-- Plugins -->
<link rel="stylesheet" href="{% static 'unal/global/vendor/animsition/animsition.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/asscrollable/asScrollable.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/switchery/switchery.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/intro-js/introjs.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/slidepanel/slidePanel.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/flag-icon-css/flag-icon.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/examples/css/apps/contacts.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/tablesaw/tablesaw.css' %}">


<!-- Fonts -->
<link rel="stylesheet" href="{% static 'unal/global/fonts/web-icons/web-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
<!-- Scripts -->
<script src="{% static 'unal/global/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
  Breakpoints();
</script>
{% endblock %}

{% block class_doby %}class="animsition app-contacts page-aside-left"{% endblock %}

{% block content %}

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

  {% include "header.html" %}

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    {% include "navbar.html" %}
    <!-- End Navbar Collapse -->
  </div>
</nav>
{% include "menu.html" %}

<!-- Page -->
<div class="page bg-white">

  <!-- Contacts Content -->
  <div class="page-main">
    <!-- Contacts Content Header -->
    <div class="page-header">
      {% include "academic/thesis/return_button.html" %}
      <div class="row">
        <div class="col-md-10">
          <h1 class="page-title">{{ thesis.name }}</h1>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='{% url 'thesis_update' pk=thesis.pk%}'">
            <i class="icon wb-edit"></i>Actualizar
          </button>
        </div>
      </div>
      <hr>
    </div>
          
    <div class="page-content container-fluid">
        <div class="col-10">
            <div class="form-group">
                <label class="col-sm-3">Estudiante:</label>
                <label>{{ thesis.student }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Director:</label>
                <label>{{ thesis.director }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Co-Director:</label>
                <label>{{ thesis.co_director }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Línea de investigación:</label>
                <label>{{ thesis.investigation_line }}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Fecha de publicación:</label>
                {{ thesis.publication_date|date:"d-m-Y" }}
            </div>
            <div class="form-group">
                <h4>Descripción de la tesis</h4>
                <p class="form-text text-muted">{{ thesis.description }}</p>
            </div>
        </div>
        <!--Lista de avances-->
        <div>
        <h3>Lista de avances</h3>
        <hr>
            {% include 'academic/thesis/advance/advance_by_thesis.html' %}
        </div>
    </div>

  </div>
</div>
<!-- End Page -->

<!-- Modal -->
<div id="popup" class="modal fade" role="dialog">
</div>

<!-- Site Action -->
<div class="site-action" data-plugin="actionBtn">
  <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating"
    onclick="location.href='{% url "thesis_new" %}'">
    <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
  </button>
</div>
<!-- End Site Action -->


<!-- Footer -->
{% include "footer.html" %}

<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'unal/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'unal/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'unal/global/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'unal/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
<script src="{% static 'unal/global/vendor/aspaginator/jquery-asPaginator.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootbox/bootbox.js' %}"></script>


<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

<script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'unal/global/js/config/colors.js' %}"></script>
<script src="{% static 'unal/assets/js/config/tour.js' %}"></script>
<script>Config.set('assets', "{% static 'unal/assets' %}");</script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/switchery.js' %}"></script>

<script src="{% static 'unal/global/js/Plugin/sticky-header.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/action-btn.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asselectable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/editlist.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/aspaginator.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/animate-list.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/jquery-placeholder.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/material.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/selectable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/bootbox.js' %}"></script>
<script src="{% static 'unal/assets/js/BaseApp.js' %}"></script>
<script src="{% static 'unal/assets/js/App/Contacts.js' %}"></script>

<script src="{% static 'unal/assets/examples/js/apps/contacts.js' %}"></script>
{% endblock %}

