{% extends 'base_home.html'%}
{% block title %} Registar Avance {% endblock %}

{% load static %}

{% block extra_head %} 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/site.min.css' %}">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'unal/global/vendor/animsition/animsition.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/dropify/dropify.min.css' %}">
<!-- Fonts -->
<link rel="stylesheet" href="{% static 'unal/global/fonts/web-icons/web-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

<!-- Scripts -->
<script src="{% static 'unal/global/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
  Breakpoints();
</script>
{% endblock %}

{% block class_doby %}class="animsition app-contacts page-aside-left"{% endblock %}

{% block content %}

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

  {% include "header.html" %}

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    {% include "navbar.html" %}
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
{% include "menu.html" %}

<div class="page bg-white">
    <div class="page-main">

        <!--Header-->
        <div class="page-header">
            <h1 class="page-title">Registrar Nuevo Avance</h1>
            <div class="page-header-actions"> 
                <button title="Voler a lista de programas" class="btn btn-outline-primary btn-sm" type="button"
                    onclick="location.href='{% url 'subprogramtask_detail' pk=task.pk %}'">
                    <i class="icon wb-arrow-left" aria-hidden="true"></i>Volver
                </button>
            </div>
        </div>

        <!--Body-->
        <div class="page-content">
            <div class="row col-12">
                <div class="col-8">
                    <!--Form-->
                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <!--File-->
                        <div class="form-group">
                            <h4 class="example-title">Avance:</h4>
                            <input type="file" name="advance_file"/>
                        </div>
                        <!--Comentary-->
                        <div class="form-group">
                            <h4 class="example-title">Comentario:</h4>
                            <textarea class="form-control" rows="3" name="commentary" required placeholder="Escriba un comentario referente al avance"></textarea>
                        </div>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            <strong>El porcentaje que se registra no debe superar el 100% del total de la tarea.</strong>
                        </small>
                        <!--Percentage-->
                        <div class="form-group">
                            <h4 for="id_percentage" class="example-title">Porcentaje del avance:</h4>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <input class="form-control" name="percentage" id="id_percentage" max="30"
                                        placeholder="Escribe el número correspondiente al porcentaje de avance: 10, 30, 70, etc." required="">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        Avance total de la tarea:
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ task.acumulate_percentage }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{ task.acumulate_percentage }}%</div>
                            <div class="progress-bar progress-bar-striped bg-success" id="new_progress" role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!--Btn guardar-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-success col-md-2">Registrar</button>
                        </div>
                    </form>
                </div>
                <!--Program info-->
                <div class="col-4">
                    <div class="panel" style="border: 1px solid #94b43b;">
                        <div class="panel-heading" style="border-bottom: 1px solid #94b43b; background-color: #94b43b;">
                            <h4 class="panel-title">Información de la tarea</h4>
                        </div>
                        <div class="panel-body">
                            <br>
                            <h5>Nombre de la tarea</h5>{{ task.name }}
                            <h5>Descripción de la tarea</h5>{{ task.commentary }}
                            <h5>Porcentaje completado</h5>{{ task.acumulate_percentage }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}
<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

<script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/dropify.js' %}"></script>

<script src="{% static 'unal/assets/js/BaseApp.js' %}"></script>
<script src="{% static 'unal/assets/js/App/Contacts.js' %}"></script>

<script src="{% static 'unal/assets/examples/js/apps/contacts.js' %}"></script>

<script>
// código de: https://jsfiddle.net/emkey08/tvx5e7q3, tomado de https://stackoverflow.com/questions/891696/jquery-what-is-the-best-way-to-restrict-number-only-input-for-textboxes-all?answertab=votes#tab-top
(function($) {
  $.fn.inputFilter = function(inputFilter) {
    return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      }
    });
  };
}(jQuery));


$(this.document).ready(function() {
    var max = 100 - "{{ task.acumulate_percentage }}"; // Porcentaje máximo del avance
        console.log(max);
    $("#id_percentage").inputFilter(function(value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) <= max); 
    });
});

$("#id_percentage").bind('keyup mouseup', function () {
    progress_bar = $('#new_progress');
    progress_bar.css({width: this.value+"%"});
    progress_bar.empty();
    progress_bar.append(this.value+'%');
});
</script>
{% endblock content %}