
<div class="col-12 panel">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="panel-title-icon icon wb-briefcase" aria-hidden="true"></i>Subprogramas
            <div class="text-right">
                <button type="button" class="btn btn-floating btn-success btn-sm" onclick="location.href='{% url 'subprogram_add' program=program.pk %}'"
                    data-toggle="tooltip" data-placement="top" title="Agregar subprograma"
                    data-template='<div class="tooltip bs-tooltip-bottom tooltip-success" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>'>
                        <i class="icon wb-plus" aria-hidden="true"></i>
                </button>
            </div>
        </h3>
    </div>

    <div class="panel-body h-300 scrollable is-enabled scrollable-vertical" data-plugin="scrollable">
        <div data-role="container" class="scrollable-container">
            <div data-role="content" class="scrollable-content">
                <ul class="list-group list-group-dividered list-group-full">
                    {% for subprogram in subprograms %}
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-body">
                                <small class="float-right">{{ subprogram.start_date }} - {{ subprogram.end_date }}</small>
                                <h5 class="mt-0 mb-5">{{ subprogram.name }}</h5>
                                <small>{{ subprogram.description }}</small>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    <div class="scrollable-bar scrollable-bar-vertical scrollable-bar-hide" draggable="false"><div class="scrollable-bar-handle" style="height: 165.682px;"></div></div></div>
</div>