{% extends 'base_home.html' %}

{% block title %}Subir documento{% endblock %}

{% load static %}

{% block extra_head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="bootstrap admin template">
<meta name="author" content="">

<link rel="apple-touch-icon" href="{% static 'unal/assets/images/apple-touch-icon.png' %}">
<link rel="shortcut icon" href="{% static 'unal/assets/images/favicon.ico' %}">

<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/css/bootstrap-extend.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/site.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/css/styles.css' %}">
<!--new in thesis list-->


<!-- Plugins -->
<link rel="stylesheet" href="{% static 'unal/global/vendor/animsition/animsition.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/asscrollable/asScrollable.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/switchery/switchery.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/intro-js/introjs.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/slidepanel/slidePanel.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/flag-icon-css/flag-icon.css' %}">
<link rel="stylesheet" href="{% static 'unal/assets/examples/css/apps/contacts.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/vendor/tablesaw/tablesaw.css' %}">


<!-- Fonts -->
<link rel="stylesheet" href="{% static 'unal/global/fonts/web-icons/web-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'unal/global/fonts/brand-icons/brand-icons.min.css' %}">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
<!-- Scripts -->
<script src="{% static 'unal/global/vendor/breakpoints/breakpoints.js' %}"></script>
<script>
    Breakpoints();
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% block class_doby %}class="animsition app-contacts page-aside-left"{% endblock %}

{% block content %}

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

    {% include "header.html" %}

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        {% include "navbar.html" %}
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                            data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
{% include "menu.html" %}

<!-- Page -->

<div class="page bg-white">

    <!-- Contacts Content -->
    <div class="page-main">

        <!-- Contacts Content Header -->
        <div class="page-header">
            <h1 class="page-title">Lista de Documentos</h1>
            <div class="page-header-actions">
            </div>
        </div>

        <!-- Contacts Content -->
        <div class="col-12">
            <div id="contactsContent" class="page-content page-content-table" data-plugin="selectable">
                <button title="Subir documento" class="btn btn-outline-primary btn-block" type="button"
                    onclick="location.href='{% url 'upload_thesis_document' thesis_pk=thesis.pk %}'">
                <i class="icon wb-upload" aria-hidden="true"></i> Subir una nueva versión </button>
            </div>
        </div>
        <hr>
        <div class="col-12">            
            <table class="table table-hover">
                <tbody>
                    {% for document in documents_list %}
                        <tr>
                        <th scope="row">
                            <a href="{% url 'thesis_document_viewer' document_path=document.document_file.name %}" style="text-decoration:none;">
                                <h5>{{ document.title }}</h5>
                                <small class="mb-1">{{ document.description }}</small>
                            </a>
                        </th>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>  
        </div>
    </div>
</div>

<script>
    function router(file_path) {
        //file_path="thesis_documents/parametros_redes1_wUe84W1.pdf";
        splited_file_path = file_path.split('/')
        folder_name=splited_file_path[0]
        file_name=splited_file_path[1]
        console.log(folder_name, file_name);
    }
</script>

<!-- End Page -->


<!-- Footer -->
{% include "footer.html" %}

<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'unal/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'unal/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'unal/global/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'unal/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
<script src="{% static 'unal/global/vendor/aspaginator/jquery-asPaginator.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootbox/bootbox.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

<script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'unal/global/js/config/colors.js' %}"></script>
<script src="{% static 'unal/assets/js/config/tour.js' %}"></script>
<script>Config.set('assets', "{% static 'unal/assets' %}");</script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/switchery.js' %}"></script>

<script src="{% static 'unal/global/js/Plugin/sticky-header.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/action-btn.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asselectable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/editlist.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/aspaginator.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/animate-list.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/jquery-placeholder.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/material.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/selectable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/bootbox.js' %}"></script>
<script src="{% static 'unal/assets/js/BaseApp.js' %}"></script>
<script src="{% static 'unal/assets/js/App/Contacts.js' %}"></script>
<script src="{% static 'unal/assets/examples/js/apps/contacts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.selector').select2();
    });
</script>
{% endblock %}