{% extends 'base_home.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
{% load static %}

<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

  <?php include("components/header.tpl.php"); ?>
  {% include "name_snippet.html" %}

  <div class="navbar-container container-fluid">
    <!-- Navbar Collapse -->
    <?php  include("components/navbar.tpl.php"); ?>
    <!-- End Navbar Collapse -->

    <!-- Site Navbar Seach -->
    <div class="collapse navbar-search-overlap" id="site-navbar-search">
      <form role="search">
        <div class="form-group">
          <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" name="site-search" placeholder="Search...">
            <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
              data-toggle="collapse" aria-label="Close"></button>
          </div>
        </div>
      </form>
    </div>
    <!-- End Site Navbar Seach -->
  </div>
</nav>
<?php print include("components/menu.tpl.php"); ?>
<!-- Page -->
<div class="page">
  <div class="page-content container-fluid">
    <div class="row" data-plugin="matchHeight" data-by-row="true">
      <div class="col-xxl-7 col-lg-7">
        <!-- Widget Linearea Color -->
        <div class="card card-shadow card-responsive" id="widgetLineareaColor">
          <div class="card-block p-0">
            <div class="pt-30 p-30" style="height:calc(100% - 250px);">
              <div class="row">
                <div class="col-7">
                  <p class="font-size-20 blue-grey-700">Eneergy Predictions</p>
                  <p>Quisque volutpat condimentum velit. Class aptent taciti</p>
                  <div class="counter counter-md text-left">
                    <div class="counter-number-group">
                      <span class="counter-icon red-600"><i class="icon wb-triangle-up" aria-hidden="true"></i></span>
                      <span class="counter-number red-600">2,250</span>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="float-right clearfix">
                    <ul class="list-unstyled">
                      <li class="mb-5 text-truncate">
                        <i class="icon wb-medium-point red-600 mr-5" aria-hidden="true"></i> Diretary intake
                      </li>
                      <li class="mb-5 text-truncate">
                        <i class="icon wb-medium-point orange-600 mr-5" aria-hidden="true"></i> Motion
                      </li>
                      <li class="mb-5 text-truncate">
                        <i class="icon wb-medium-point green-600 mr-5" aria-hidden="true"></i> Other
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="ct-chart h-250"></div>
          </div>
        </div>
        <!-- End Widget Linearea Color -->
      </div>
    </div>
  </div>
</div>
<!-- End Page -->


<!-- Footer -->
<footer class="site-footer">
  <div class="site-footer-legal">© 2018 <a
      href="http://themeforest.net/item/remark-responsive-bootstrap-admin-template/11989202">Remark</a></div>
  <div class="site-footer-right">
    Crafted with <i class="red-600 wb wb-heart"></i> by <a href="https://themeforest.net/user/creation-studio">Creation
      Studio</a>
  </div>
</footer>
<!-- Core  -->
<script src="{% static 'unal/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'unal/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'unal/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'unal/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'unal/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'unal/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'unal/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'unal/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'unal/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'unal/global/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'unal/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
<script src="{% static 'unal/global/vendor/skycons/skycons.js' %}"></script>
<script src="{% static 'unal/global/vendor/chartist/chartist.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js' %}"></script>
<script src="{% static 'unal/global/vendor/aspieprogress/jquery-asPieProgress.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'unal/global/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js' %}"></script>
<script src="{% static 'unal/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'unal/global/js/Component.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin.js' %}"></script>
<script src="{% static 'unal/global/js/Base.js' %}"></script>
<script src="{% static 'unal/global/js/Config.js' %}"></script>

<script src="{% static 'unal/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'unal/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'unal/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'unal/global/js/config/colors.js' %}"></script>
<script src="{% static 'unal/assets/js/config/tour.js' %}"></script>
<script>Config.set('assets', "{% static 'unal/assets' %}");</script>

<!-- Page -->
<script src="{% static 'unal/assets/js/Site.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/switchery.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/matchheight.js' %}"></script>
<script src="{% static 'unal/global/js/Plugin/jvectormap.js' %}"></script>

<script src="{% static 'unal/assets/examples/js/dashboard/v1.js' %}"></script>

hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
<p><a href="{% url 'password_reset' %}">reset password</a></p>
{% else %}
<p>You are not logged in hhhhhhhhhhhhhhhhh</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}